html {
    scroll-behavior: smooth;
}

* {
    -webkit-overflow-scrolling: touch;
}

body {
    margin: 0;
    font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    background-color: black;
}

.filter-btn {
    margin: 5px;
}

.filter-btn-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.centered-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.top-row {
    justify-content: space-evenly;
    padding: 30px;
}